.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

button {
  background-color: lightskyblue;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
}

.confirm {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.modal {
  border: 1px solid black;
  padding: 20px;
  border-radius: 20px;
}